#canvas-container {
	width: 720px;
	height:1150px;
	margin: auto;
	border:10px solid #000000;
}

.center-button {
	text-align: center;
	border:1px solid #000000;
}

.center-text {
	text-align: center;
	border:1px solid #000000;
}